.header{
    text-align: center;
    background-color: brown;
    padding-bottom: 20px;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.headerDiv{
    display: flex;
    justify-content: center;
}

.headerIsPressedToTheTop{
    height: auto;
}

@media (max-width: 550px) {
    .headerDiv{
        display: block;
    }

    .headerDiv div{
        margin-bottom: 10px;
    }
}